$background-light: rgba(211, 211, 211, 0.1);

.json-editor {
  background-color: $background-light; //rgba(211, 211, 211, 0.1);
  

  .container {
       margin: 0 5% 0 5%;
       max-width: 90%;
  }

  input,
  textarea {
    border: 0;
    background-color: transparent;
  }

  input:hover,
  textarea:hover {
    background-color: lightgray;
    color: black;
  }

  textarea {
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  /*
  .obj-container,
  .array-container {

  }
*/
  .obj-container:hover,
  .array-container:hover {
    //  border: 1px dotted lightgray;
    background-color: rgba(211, 211, 211, 0.3);
  }

  input[type="checkbox"] {
    appearance: none;
    background-color: #fafafa;
    border: 2px solid black;
    padding: 0.5rem;
    border-radius: 1px;
    display: inline-block;
    height: 1rem;
    width: 1rem;

    &:hover {
      border: 2px solid red;
    }
  }

  input[type="checkbox"]:checked {
    background-color: red;

    &:hover {
      border: 2px solid white;
    }
  }

  .clear-button {
    color: red;
    width: fit-content;
    padding: 0;
    height: min-content;
    border: none;
  }

  .clear-button:hover {
    color: black;
  }

  .del-button {
    color: red;
    width: fit-content;
    padding: 0px;
  }

  .del-button:hover {
    color: black;
  }

  .hide-button,
  .add-button {
    text-align: center; //
    width: fit-content;
    padding: 0;
    height: fit-content;
    border: none;
  }

  .hide-button:hover,
  .add-button:hover {
    color: red;
  }

  h1,
  label,
  p,
  select,
  textarea,
  .modal,
  input {
    font-family: courier;
  }

  .row {
    margin-left: 0px;
  }

  .btn {
    border: none;
  }

  .btn-solid {
    border: 1px solid darkgray;
    background-color: lightgray;
    margin-right: 10px;
    box-shadow: 1px 1px 1px black;

    &:hover {
      background-color: gray;
    }
  }

  .modal {
    background-color: rgba(255, 255, 255, 0.7);

    .modal-content {
      border: 2px solid gray;
      background-color: lightgray;

      .bi::before {
        font-weight: 1000 !important;
      }

      .modal-header {
        background-color: darkgray;

        .btn-close {
          background: unset;
        }
      }

      .modal-body {
        input[type="text"] {
          border: 1px solid black;
          background-color: white;
        }

        .duplicate-warning-label{
          color:red;
          visibility: hidden;
        }
      }

      .modal-footer {
        border-color: gray;
      }
    }
  }

  .container {
    padding-right: 0;
    margin-right: 5%;
  }

  .row {
    padding-right: 0;
    margin-right: 0;
  }
}

.json-editor-dark {
  background-color: black;
  color: white;

  .obj-container:hover,
  .array-container:hover {
    background-color: rgba(211, 211, 211, 0.1);
  }

  input[type="text"],
  input[type="number"],
  textarea {
    color: white;
  }

  .btn-solid {
    color: white;
    background-color: #696969;

    &:hover {
      background-color: gray;
    }
  }

  .btn {
    border: none;
    color: white;
  }

  input[type="checkbox"] {
    background-color: black;
  }

  input[type="checkbox"]:checked {
    background-color: red;
  }

  .clear-button {
    color: red;
  }

  .clear-button:hover {
    color: white;
  }

  .del-button {
    color: red;
  }

  .del-button:hover {
    color: white;
  }

  .modal {
    background-color: rgba(0, 0, 0, 0.8);
    .modal-content {
      border: 2px solid gray;
      background-color: darkgray;

      .bi-check-lg::before {
        font-weight: 1000 !important;
        color: green;
      }

      .modal-header {
        background-color: black;
      }

      .modal-body {
        color: black;

        input[type="text"],
        select {
          background-color: black;
          color: white;
        }
      }

      .modal-footer {
        border-color: gray;

        .btn-solid {
          border: 1px solid gray;
          background-color: darkgray;
          margin-right: 10px;
          box-shadow: 1px 1px 1px black;

          &:hover {
            background-color: lightgrey;
          }
        }
      }
    }
  }
}
