*[class^="icon"] {
  display: inline-block;
  position: relative;
  font-size: $icon-size;
  line-height: $icon-size;
}
/**/
*[class^="icon"]:before {
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
}

.icon-object:before {
  content: "{\274B}"; // hex ascii code for 8-point asterisk
}

.icon-array:before {
  content: "[#]";
}

.icon-undo:before {
  content: "\27F2";
}

.icon-redo:before {
  content: "\27F3";
}

.icon-newfile:before {
  content: "\1F4C4";
}

.icon-loadfile:before {
  content: "\1F4C2";
}

.icon-savefile:before {
  content: "\1F4BE";
}

.icon-clipboard:before {
  content: "\1F4CB";
}

.icon-options:before {
  content: "\2699";
}

.icon-info:before {
  content: "\2139";
}

.icon-copy:before {
  content: "\2397";
}

.icon-paste:before {
  content: "\2398";
}

.icon-clearAll:before {
 // color: red;
 // content: "\26A0";
  content: "\1F6AB";
  
}

.icon-fold:before,.icon-unfold:before{
 /* border: 1px solid;
  border-radius: 50%;
  width: $icon-size;
  height: $icon-size;
  line-height: $icon-size*0.8;*/
}

.icon-fold:before {
 /* border: 1px solid;
  border-radius: 50%;
  width: $icon-size;
  height: $icon-size;
  line-height: $icon-size*0.8;*/
  // content:"\2739"
  // content: "\2B09";
  content: "\274A";
}

.icon-unfold:before {
 /* border: 1px solid;
  border-radius: 50%;
  width: $icon-size;
  height: $icon-size;
  //background-color: red;
  //content: "\21B3";
  line-height: 1.7vw;*/
 // content: "\2B0A";
  content:"\2726";
}

.icon-add:before {
 // color: green;
  content: "\271A";
}
.icon-add {
  color: green;
}
.icon-add:hover {
  color: limegreen;
}


.icon-delete:before {
  color: red;
  content: "\02A02";
  //02297
}

/*TODO*/
.icon-checkbox-checked:before {
  content: "\2610";
}

.icon-checkbox-unchecked:before {
  content: "\2612";
}
