.json-editor-base {

/* desktop version*/

  
    *{
      box-sizing:border-box;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  
    .container {
      margin: 0 5% 0 5%;
      max-width: 90%;
      padding: 0;
    }
  /*/
    .col-1{
      width: 4vw;
    }
*/
  
    .obj-container,
    .array-container {
      padding: 0 0 0 12px;
      .container {
        max-width: 100%;
        margin: 0;
        padding: 0;
      }
  
      .row {
        padding-right: 0;
        margin-right: 0;
      }
    }
  
    input[type="checkbox"] {
      appearance: none;
      padding: 0.5rem;
      border-radius: 25%;
      display: inline-block;
      height: 1rem;
      width: 1rem;
      outline-offset: -4px;
    }
  
    .copy-button,.paste-button,  .hide-button,
    .add-button,.clear-button, .del-button  {
      text-align: center; 
      width: fit-content;
      padding:0;
      margin: 0 0 0 3%;
      height: min-content;
      border: none;
    }

  
    h1,
    label,
    p,
    select,
    textarea,
    .modal,
    input {
      font-family: courier;
    }
  
    .row {
      margin-left: 0px;
    }
  
    .btn {
      border: none;
    }
  
    .btn-solid {
      margin-right: 10px;
    }
  
    
    .modal {
  
      .modal-content {
  
        .bi::before {
          font-weight: 1000 !important;
        }
  
        .modal-header {
  
          .btn-close {
            background: unset;
            display: inline; 
            font-weight: 600;
            padding: unset;
            margin: unset;
          }


        }
  
        .modal-body {
          input[type="text"],select {
            margin: 0 0 5% ;
          }
  
          .duplicate-warning-label {
            margin: 5%;
            visibility: hidden;
          }
        }
      }
    }










    /*mobile version */
  .temp-mobile {
    display: none;
  }

  @media all and (orientation: portrait) and (max-width: $md) {
    :not(.temp-mobile) {
      display: none;
    }
    .temp-mobile {
      height: 100vh;
      display: flex;
      justify-content: center;
      * {
        display: block;
      }
      div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
      }
      p {
        text-align: center;
      }
    }
  }
}
