/*
Copyright © 2024 Christos Chartomatsidis. 

This file is part of Practical JSON Editor.

"Practical JSON Editor" is free software: you can redistribute it and/or modify
it under the terms of the Creative Commons Attribution-ShareAlike 4.0 International License.

You should have received a copy of the Creative Commons Attribution-ShareAlike 4.0 International License
along with this program. If not, see <https://creativecommons.org/licenses/by-sa/4.0/>.

This software is provided on an "as-is" basis, meaning without any warranties or guarantees of any kind. 

You must give appropriate credit , provide a link to the license, and indicate if changes were made . You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.

If you remix, transform, or build upon the material, you must distribute your contributions under the same license as the original.
*/

.json-editor-dark {
  background-color: black;
  color: white;

  .highlight{
    box-shadow: 0 0 25px white;
  }

  .inteface-container {
    background-color: red;
  }

  .obj-wrapper:hover,
  .array-wrapper:hover {
    background-color: rgba(211, 211, 211, 0.1);
  }

  input[type="text"],
  input[type="number"],
  textarea {
    color: white;
  }

  input[type="text"]:hover,
  input[type="number"]:hover,
  textarea:hover {
    color: black;
  }

  select {
    background-color: black;
    color: white;
  }

  .btn-solid {
    color: white;
    background-color: #696969;

    &:hover {
      background-color: gray;
    }
  }

  .btn {
    border: none;
    color: white;
  }

  input[type="checkbox"] {
    outline: 2px solid white;
    border: 2px solid white;
  }

  input[type="checkbox"]:checked {
    //  background-color: red;
    color: white;
  }

  .clear-button {
    color: red;
  }

  .clear-button:hover {
    color: white;
  }

  .del-button {
    color: red;
  }

  .del-button:hover {
    color: white;
  }

  .modal {
    background-color: rgba(0, 0, 0, 0.8);
    .modal-content {
      border: 2px solid gray;
      background-color: darkgray;

      .bi-check-lg::before {
        font-weight: 1000 !important;
        color: green;
      }

      .modal-header {
        background-color: black;
      }

      .modal-body {
        color: black;

        input[type="text"],
        select {
          background-color: black;
          color: white;
        }
      }

      .modal-footer {
        border-color: gray;

        .btn-solid {
          border: 1px solid gray;
          background-color: darkgray;
          margin-right: 10px;
          box-shadow: 1px 1px 1px black;

          &:hover {
            background-color: lightgrey;
          }
        }
      }
    }
  }

  .ui-dialog {
    .col-1 {
      width: unset;
      height: unset;
    }

    .btn-solid {
      //  padding: 0;
      width: unset;
      height: unset;

      p,
      .bi::before {
        font-size: unset;
        padding: 0;
        margin: 0;
      }
    }

    border: 2px solid darkgray;
    background-color: darkgray;

    .ui-dialog-titlebar {
      background-color: black;
      color: white;
      border: 2px solid darkgray;

      .ui-dialog-title {
        .ui-dialog-titlebar-close {
          background-color: black;
        }
      }
    }

    .ui-widget-content {
      background-color: black;
      color: white;
    }

    .ui-dialog-buttonpane {
      background-color: black;

      .ui-dialog-buttonset {
        .ui-button {
          color: black;
          background-color: gray;
          border: 2px solid darkgray;
        }
        .ui-button:hover {
          background-color: lightgray;
          border: 2px solid white;
        }
      }
    }
  }
}
