.json-editor-light {
    background-color: $background-light; 
 
    input,
    textarea {
      border: 1px solid gray; // transparent;
      background-color: transparent;
    }
  
    input:hover,
    textarea:hover {
      border: 1px solid black;
      background-color: white;
      color: black;
    }
  
    textarea {
      border-left: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
    }
  
  
 //   .obj-container:hover,
 //   .array-container:hover, 
    .obj-wrapper:hover,
    .array-wrapper:hover { 
      //  border: 1px dotted lightgray;
      background-color: rgba(211, 211, 211, 0.3);
    }
  
    input[type="checkbox"] {

      background-color: transparent;
      border: 2px solid black;
      outline: 1px solid black;
  
      &:hover {
        border: 2px solid red;
      }
    }
  
    input[type="checkbox"]:checked {
  //    background-color: red; 
   //   outline: 2px solid black;
      &:hover {
        border: 2px solid red;
      }
    }
   
    .clear-button {
      color: red;
    }
  
    .clear-button:hover {
      color: black;
    }
  
    .del-button {
      color: red;
    }
  
    .del-button:hover {
      color: black;
    }
  
    .hide-button:hover,
    .add-button:hover,
    .copy-button:hover,.paste-button:hover {
      color: red;
    }
    
    .btn-solid {
      border: 1px solid darkgray;
      background-color: lightgray;
      box-shadow: 1px 1px 1px black;
  
      &:hover {
        background-color: gray;
      }
    }
  
    .modal {
      background-color: rgba(255, 255, 255, 0.7);
  
      .modal-content {
        border: 2px solid gray;
        background-color: lightgray;
  
        .modal-header {
          background-color: darkgray;
  
          .btn-close {
            color: red; 
          }
       }
  
        .modal-body {
          input[type="text"],select {
            border: 1px solid black;
            background-color: white;
          }
  
          .duplicate-warning-label {
            color: red;
          }
        }
  
        .modal-footer {
          border-color: gray;
        }
      }
    }


    
  }