/*
Copyright © 2024 Christos Chartomatsidis. 

This file is part of Practical JSON Editor.

"Practical JSON Editor" is free software: you can redistribute it and/or modify
it under the terms of the Creative Commons Attribution-ShareAlike 4.0 International License.

You should have received a copy of the Creative Commons Attribution-ShareAlike 4.0 International License
along with this program. If not, see <https://creativecommons.org/licenses/by-sa/4.0/>.

This software is provided on an "as-is" basis, meaning without any warranties or guarantees of any kind. 

You must give appropriate credit , provide a link to the license, and indicate if changes were made . You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.

If you remix, transform, or build upon the material, you must distribute your contributions under the same license as the original.
*/

.json-editor-base {
  /* desktop version*/
  width: 100%;
  overflow-y: scroll;
  padding-right: 20px;
  box-sizing: content-box;

  .interface-container {
    padding-top: 1%;
    max-width: 90%;
    width: 100%;
    position: sticky;
    top: 0;
    left: 5%;
    z-index: 2;
    background: inherit;

    .btn-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 1rem;

      label{
        display: block;
        font-size: 0.75rem;
        margin: 0;
        padding: 0;
      }
    }

    .header {
      //  margin-top: 1%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .title-container {
        width: 50%;
      }

      .corner-btns {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
      }
    }

    .found-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;


    }

    .file-btn-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .foundNumberLabel-invisible {
      visibility: hidden;
    }

    .search-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    hr {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .hr-double {
      margin-top: 5px;
      margin-bottom: 5px;
      height: 5px;
      border-top: 1px solid black;
      border-bottom: 2px solid black;
    }

    .controls-btn-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: $icon-size;

      .left-side-btns {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
      }

      .right-side-btns {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
      }
    }
  }

  .main-container {
    margin: 0 5% 0 5%;
    max-width: 90%;
    width: 100%;
    position: relative;
    z-index: 1;

    label {
      cursor: pointer;
      width: auto; //10vw; 
      overflow:hidden;
    }
  }

  .obj-container,
  .array-container {
    padding: 0 0 0 3vw;
    .container {
      max-width: 100%;
      margin: 0 0 2px;
      padding: 0;
    }

    .row {
      padding-right: 0;
      margin-right: 0;
    }


  }

  input[type="checkbox"] {
    appearance: none;
    padding: 0.5rem;
    border-radius: 25%;
    display: inline-block;
    height: 1rem;
    width: 1rem;
    outline-offset: -4px;
    position: relative;
  }

  input[type="checkbox"]:checked::before {
    content: "\2715";
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .copy-button,
  .paste-button,
  .hide-button,
  .add-button,
  .clear-button,
  .del-button,
  .icon-select-off,
  .icon-select-on,
  .icon-addbefore {
    text-align: center;
    width: fit-content;
    padding: 0;
    margin: 0 0 0 3%;
    height: min-content;
    border: none;
    //    display: none;
  }

  .copy-button,
  .paste-button,
  .add-button,
  .clear-button {
    display: none;
  }

  h1,h2,h3,h5,
  label,
  p,
  li,
  select,
  textarea,
  .modal,
  input {
    font-family: "courier new", monospace;
    //font-family: "Symbola";
  }

  .row {
    margin-left: 0px;
  }

  .btn {
    border: none;
    
    }

  .btn-solid {
    //  padding: 0;
    width: 3vw;
    min-width: 3vw;
    height: 3vw;
    margin-right: 0;//10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* */

    p,
    .bi::before {
      font-size: 1vw;
      padding: 0;
      margin: 0;
    }
  }
  #searchBtn{
    width: auto;
    height:auto;
  }

  .clipboardModal {
    max-height: 70vh;

    pre {
      width: 100%;
      height: 100%;
      max-height: 70vh;
    }
  }

  .ui-dialog {
    position: fixed;

    .col-1 {
      width: unset;
      height: unset;
    }

    .btn-solid {
      //  padding: 0;
      width: unset;
      height: unset;

      p,
      .bi::before {
        font-size: unset;
        padding: 0;
        margin: 0;
      }
    }

    .ui-dialog-titlebar {
      .ui-dialog-title {
        .ui-dialog-titlebar-close {
        }
      }
    }

    .ui-widget-content {
    }

    .ui-dialog-buttonpane {
      //   background-color: black;
      display: flex;
      flex-direction: column;
      align-content: stretch;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;

      .ui-dialog-buttonset {
        .ui-button {
          //  color: red;
        }
      }
    }
  }



  /*mobile version */
  .temp-mobile {
    display: none;
  }

  @media all and (orientation: portrait) and (max-width: $md) {
    :not(.temp-mobile) {
      display: none;
    }
    .temp-mobile {
      height: 100vh;
      display: flex;
      justify-content: center;
      * {
        display: block;
      }
      div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
      }
      p {
        text-align: center;
      }
    }
  }
}


.about-page{

  padding:2rem;
 // font-family: "courier new", monospace;
 margin-right: 2rem;

  .buttons-explained{

    .buttons-line{
      display: flex;
      flex-direction: row;
      align-items: center;

      .btn-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex:1;
        gap:5%;

        label{
          font-weight: 600;
        }
      }

      p{
        flex:5;
      }
    }

  }
}