.json-editor-dark {
  background-color: black;
  color: white;

  .obj-wrapper:hover,
  .array-wrapper:hover {
    background-color: rgba(211, 211, 211, 0.1);
  }

  input[type="text"],
  input[type="number"],
  textarea {
    color: white;
  }

  input[type="text"]:hover,
  input[type="number"]:hover,
  textarea:hover {
    color: black;
  }

  .btn-solid {
    color: white;
    background-color: #696969;

    &:hover {
      background-color: gray;
    }
  }

  .btn {
    border: none;
    color: white;
  }

  input[type="checkbox"] {
    outline: 2px solid white;
    background-color: black;
  }

  input[type="checkbox"]:checked {
    background-color: red;
  }

  .clear-button {
    color: red;
  }

  .clear-button:hover {
    color: white;
  }

  .del-button {
    color: red;
  }

  .del-button:hover {
    color: white;
  }

  .modal {
    background-color: rgba(0, 0, 0, 0.8);
    .modal-content {
      border: 2px solid gray;
      background-color: darkgray;

      .bi-check-lg::before {
        font-weight: 1000 !important;
        color: green;
      }

      .modal-header {
        background-color: black;
      }

      .modal-body {
        color: black;

        input[type="text"],
        select {
          background-color: black;
          color: white;
        }
      }

      .modal-footer {
        border-color: gray;

        .btn-solid {
          border: 1px solid gray;
          background-color: darkgray;
          margin-right: 10px;
          box-shadow: 1px 1px 1px black;

          &:hover {
            background-color: lightgrey;
          }
        }
      }
    }
  }


  // TODO: WRITE THE CSS MAINLY IN BASE BUT ALSO HERE
  .ui-dialog {
    .ui-dialog-buttonpane {
   //   background-color: black;
      display: flex;
      flex-direction: column;
      align-content: stretch;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;

      .ui-dialog-buttonset {
        .ui-button {
        //  color: red;
        }
      }
    }
  }

  
}
